<div id="recovery-page" fxLayout="column">

  <div id="recovery-page-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="recovery-page-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo"><img src="assets/images/logos/aiur-logo.svg"></div>

      <div class="title">{{textTemplate.title}}</div>

      <div class="description">{{textTemplate.description}}</div>

      <form name="recoveryForm" *ngIf="!success" [formGroup]="recoveryForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput name="email" formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="form.email.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="form.email.hasError('invalidEmail')">Please enter a valid email address</mat-error>
          <mat-error *ngIf="form.email.hasError('unknownUser')">
            I cannot find user with such email.<br/> Please double check and try again!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submit-button" color="accent"
                aria-label="SEND RESET LINK"
                [disabled]="recoveryForm.invalid"
                (click)="recover()">{{textTemplate.button}}</button>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/pages/auth/login'">Go back to login</a>
      </div>

    </div>

  </div>

</div>
