@import "src/@fuse/scss/fuse";
@import 'src/scss/colors';

aif-recovery-page {

  #recovery-page {
    position: relative;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(147deg, #000000 0%, map_get($fuse-navy, 700) 74%);
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat top/cover;
      opacity: 0.1;
      z-index: 0;
    }

    #recovery-page-form-wrapper {
      flex: 1 0 auto;
      padding: 32px;
      z-index: 1;

      @include media-breakpoint('xs') {
        padding: 16px;
      }

      #recovery-page-form {
        width: 384px;
        max-width: 384px;
        padding: 32px;
        text-align: center;
        @include mat-elevation(16);

        @include media-breakpoint('xs') {
          padding: 24px;
          width: 100%;
        }

        .logo {
          width: 128px;
          margin: 32px auto;
        }

        .title {
          font-size: 20px;
          text-transform: uppercase;
          margin: 16px 0 22px 0;
        }

        .description {
          padding-bottom: 30px;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          .submit-button {
            width: 220px;
            margin: 16px auto;
            display: block;

            @include media-breakpoint('xs') {
              width: 90%;
            }
          }
        }

        .login {
          margin: 32px auto 24px auto;
          width: 250px;
          font-weight: 600;

          .text {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
