@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';

.my-review-layout {
  &__header {
    height: 85px !important;

    &-button-wrapper {
      width: 250px;
    }
  }

  &__header-button {
    text-transform: uppercase;
  }

  &__action-buttons-wrapper {
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 25px;

    .action-button {
      margin-right: 5px;
      text-transform: uppercase;

      &.active {
        background-color: map_get($mat-blue-grey, 600);;
      }

      &:disabled {
        background-color: map_get($mat-grey, 100);;
        color: gray;
      }
    }
  }

  &__content {
    position: relative;
  }
}
