<div id="setup-password" fxLayout="column">

  <div id="setup-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="setup-password-form"
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div *ngIf="!success && !isLinkExpired">
        <div class="logo"><img src="assets/images/logos/aiur-logo.svg"></div>

        <div class="title">Set your password</div>

        <form name="setupPasswordForm" [formGroup]="setupPasswordForm" novalidate>

          <mat-form-field class="setup-password-form__long-error" appearance="outline">
            <mat-label>Password</mat-label>
            <input autocomplete="off" matInput type="password"
                   name="password"
                   formControlName="password">
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error *ngIf="form.password.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="form.password.hasError('invalidPassword')
                      && !form.password.hasError('required')">For security
              reasons your password should contain at least 8&nbsp;characters, 1&nbsp;small letter,
              1&nbsp;capital letter, 1&nbsp;
              digit and 1&nbsp;special character.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password (Confirm)</mat-label>
            <input autocomplete="off" matInput type="password"
                   name="password_confirm"
                   formControlName="password_confirm">
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error *ngIf="form.password_confirm.hasError('required')">
              Password confirmation is required
            </mat-error>
          </mat-form-field>

          <button mat-raised-button class="submit-button" color="accent"
                  aria-label="SUBMIT"
                  [disabled]="setupPasswordForm.invalid || form['password'].value !== form['password_confirm'].value"
                  (click)="submit()">SUBMIT</button>
        </form>
      </div>

      <div class="success-msg" *ngIf="success">
        <div class="logo">
          <mat-icon class="mat-accent s-68">check_circle</mat-icon>
        </div>
        <p>New password successfully registered!</p>
      </div>


      <div *ngIf="isLinkExpired" fxLayout="column" fxLayoutAlign="center center">
        <div class="title">Your password reset link has expired!</div>

        <div class="description">For security reasons our password reset links have an expiration period. We apologise
          for any inconvenience that this may have caused you! We try to apply the best cyber security practices
          to protect our users’ information and generated content.</div>
        <div class="info">
          <table class="token-expiration">
            <tr>
              <td class="column">Expiration time:</td>
              <td><strong><span>{{expirationTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></strong></td>
            </tr>
            <tr>
              <td class="column">Current local time:</td>
              <td><strong><span>{{currentTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></strong></td>
            </tr>
          </table>
        </div>
        <div class="request-link">
          <a mat-raised-button class="submit-button" color="accent" aria-label="new link"
             [routerLink]="['/auth/forgot-password']"
             [queryParams]="{token: recoveryParams}">NEW LINK</a>
        </div>
      </div>

    </div>

  </div>

</div>
