@import "src/@fuse/scss/fuse";
@import 'src/scss/colors';

aif-setup-password-page {
  .setup-password-form__long-error {
    .mat-form-field-subscript-wrapper {
      position: relative;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  #setup-password {
    position: relative;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(147deg, #000000 0%, map_get($fuse-navy, 700) 74%);
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat top/cover;
      opacity: 0.1;
      z-index: 0;
    }

    #setup-password-form-wrapper {
      flex: 1 0 auto;
      padding: 32px;
      z-index: 1;

      @include media-breakpoint('xs') {
        padding: 16px;
      }

      #setup-password-form {
        width: 400px;
        max-width: 400px;
        padding: 32px;
        text-align: center;
        @include mat-elevation(16);

        @include media-breakpoint('xs') {
          padding: 24px;
          width: 100%;
        }

        .logo {
          width: 128px;
          margin: 32px auto;
        }

        .title {
          font-size: 20px;
          margin: 16px 0 32px 0;
          text-transform: uppercase;
        }

        .description {
          padding-bottom: 20px;
        }

        .info {
          padding-bottom: 40px;
        }

        .success-msg {
          font-size: 16px;
          padding-bottom: 40px;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          .submit-button {
            width: 220px;
            margin: 16px auto;
            display: block;
            text-transform: uppercase;

            @include media-breakpoint('xs') {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
