<div class="tree-successful-update-popup">
  <h2 class="tree-successful-update-popup__title">tree was successfully updated</h2>
  <button class="tree-successful-update-popup__button" mat-raised-button color="accent" (click)="confirm()">OK</button>
</div>
