<div id="error-page" fxLayout="column" fxLayoutAlign="center center">

  <div class="content" fxLayout="column" fxLayoutAlign="center center">

    <div class="error-icon"></div>
    <div class="error-title">Access denied ...</div>
    <div class="message">You don't have permission to access this page.</div>

    <div class="error__btn-wrapper">
      <button mat-raised-button color="accent" class="error__btn" aria-label="GO BACK" (click)="errorsPageService.previousPage()">Go Back</button>
    </div>

  </div>

</div>
