<div id="registration-completed-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <div id="registration-completed-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

    <div class="logo">
      <mat-icon class="mat-accent s-68">{{getText('icon').text}}</mat-icon>
    </div>

    <div class="subtitle">
      <p [innerHTML]="getText('description').text|safe:'html'"></p>
    </div>

    <div class="message">
      <a class="link" mat-raised-button color="accent"
         [href]="getText('buttonState').text|safe:'url'">{{getText('button').text}}</a>
    </div>

  </div>

</div>
