<!--[ngClass]="{'expanded': isDetailShown, 'approved': data?.approved}"-->
<div class="document-item" [ngClass]="{'expanded': isDetailShown}">
  <div class="document-item__header" fxLayout="row" fxLayoutAlign="start center">
    <div class="document-item__column">
      <div class="title">{{document.title}}</div>
      <div class="date">Created on
        <span class="detail">{{document.created_at | date:'dd.MM.yyyy'}}</span> at <span class="detail">{{document.created_at | date:'HH:mm'}}</span>
      </div>
    </div>

    <div class="document-item__column">
      <div class="row">
        <div class="inner-column">Status</div>
        <div class="inner-column status">{{document.status}}</div>
      </div>
    </div>

    <div class="document-item__column">
<!--      <div class="row" *ngIf="data?.approved">-->
<!--        <div class="inner-column">Approved</div>-->
<!--        <div class="inner-column">{{data?.approved}}</div>-->
<!--      </div>-->
    </div>

    <div class="document-item__column">
      <button class="btn-detail" mat-raised-button (click)="showDetail()">
        Show detail<i class="arrow-icon"></i>
      </button>
    </div>
  </div>

  <div class="document-item__body" @myInsertRemoveTrigger *ngIf="isDetailShown">
    <div class="title">Abstract</div>
    <div class="info">{{document.abstract}}</div>
    <div class="document-item__options">
      <ng-content select="[aif-item-options]"></ng-content>
    </div>
  </div>
</div>
