@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';

:host {
  display: block;
}

.document-item {
  position: relative;
  width: 100%;
  padding: 15px 15px 15px 25px;
  margin-bottom: 10px;
  background: #272727;
  overflow: hidden;
  @extend %I-transition-hover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: map_get($mat-grey, 900);
  }

  &:hover {
    @extend %I-hovered;
  }

  &.approved {
    &:before {
      background: map_get($mat-blue-grey, 500);
    }
  }

  &.expanded {
    @extend %I-hovered;

    .document-item__body {
      margin-top: 30px;
      padding-bottom: 20px;
    }

    .arrow-icon {
      &:before {
        transform: translate(-2px, 0) rotate(45deg);
      }

      &:after {
        transform: translate(2px, 0) rotate(-45deg);
      }
    }
  }

  .btn-detail {
    padding: 0 30px;
  }

  .arrow-icon {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 14px;
    right: 0;

    &:before, &:after {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 2px;
      height: 8px;
      @extend %I-transition;
    }

    &:before {
      transform: translate(2px, 0) rotate(45deg);
    }

    &:after {
      transform: translate(-2px, 0) rotate(-45deg);
    }
  }

  &__header {
    .title {
      margin-top: 4px;
      margin-bottom: 10px;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: 600;
      transition: color 0.2s ease;
    }

    .date {
      font-size: 12px;
      color: map_get($mat-grey, 400);

      .detail {
        font-weight: 600;
        color: #fff;
      }
    }
  }

  &__column {
    width: calc((50% - 145px) / 2);
    padding-right: 15px;

    &:first-child {
      width: 50%;
      padding-right: 55px;
    }

    &:last-child {
      width: 145px;
      text-align: right;
      padding-right: 0;
    }
  }

  .inner-column {
    font-size: 12px;

    &.status {
      text-transform: capitalize;
    }

    &:first-child {
      color: map_get($mat-grey, 400);
    }

    &:last-child {
      font-weight: bold;
    }
  }

  &__body {
    position: relative;
    margin-top: 0;
    z-index: 2;
    transition: margin 0.35s ease-in-out;

    .title {
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
    }

    .info {
      padding-bottom: 20px;
    }
  }


  &__options {
    .reviews-item {
      padding: 10px 30px;
      margin-bottom: 10px;
      border: 1px solid map_get($mat-grey, 700);
      background: map_get($mat-grey, 800);
      @extend %I-transition-hover;

      &:hover {
        @extend %I-hovered;
      }
    }

    .column {
      width: 25%;

      &:last-child {
        text-align: right;
      }

      button {
        background: map_get($mat-blue-grey, 500);
      }
    }
  }
}

%I-hovered {
  background: #2f2f2f;
  box-shadow: 0 7px 2px -5px rgba(0, 0, 0, 0.2), 0px 3px 5px 1px rgba(0, 0, 0, 0.14), 0px 5px 30px 5px rgba(0, 0, 0, 0.12);
}

%I-transition {
  transition: all 0.35s ease-in-out;
}

%I-transition-hover {
  transition: box-shadow 0.2s ease, background 0.2s ease;
}
