.document {
  z-index: 2;
  background: #303030;
  position: absolute;
  right: 0;
  width: 425px;
  height: 100%;
  transition: width .5s;

  &.document--show-more {
    width: 100%;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 10px;
  }

  &__content {
    padding: 0 15px;

    .document--show-more & {
      padding: 0 25px;
    }
  }

  &__year {
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 10px;
    letter-spacing: -2px;
  }

  &__title {
    margin: 15px 0;
    min-height: 50px;
    max-width: 510px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &__authors {
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 15px;
    color: #747477;
  }

  &__actions {
    border-top: 2px solid #d9dadb;
    margin-bottom: 10px;
    padding-top: 20px;
  }

  &__container {
    display: flex;
  }

  &__abstract {
    width: 0;
    font-size: 19px;
    font-weight: 300;
    line-height: 24px;
    transition: opacity 0.2s linear;
    opacity: 0;

    .document--show-more & {
      width: 100%;
      opacity: 1;
      transition: opacity 0.2s ease 0.45s;
    }
  }

  &__details {
    min-width: 395px;

    .document--show-more & {
      min-width: 255px;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {
        font-size: 17px;
        margin-bottom: 20px;

        .list-item {
          &__title {
          }

          &__details {
            font-weight: 700;
          }
        }
      }
    }
  }

  .aside,
  .section {
    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 21px;
    }

    &__body {
      padding-right: 40px;
    }
  }
}
