<div [@slideInRight] class="document" [class.document--show-more]="isShowMore">
  <div class="document__navigation">
    <button mat-icon-button (click)="showMoreToggle()">
      <mat-icon>{{isShowMore?'arrow_forward':'arrow_back'}}</mat-icon>
    </button>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="document__content">
    <div class="document__year">- {{document.year}} -</div>
    <h2 class="document__title">{{document.title}}</h2>
    <div class="document__authors"></div>
    <div class="document__actions">
      <button mat-stroked-button (click)="goToFullTextLink(document.fulltext_link)"><mat-icon>open_in_new</mat-icon> Full text link</button>
    </div>
    <main class="document__container">
      <section class="document__abstract">
        <h3 class="section__title">Abstract</h3>
        <div class="section__body">{{document.abstract}}</div>
      </section>
      <aside class="document__details">
        <h3 class="aside__title">Details</h3>
        <div class="aside__body">
          <ul class="document__details-list">
<!--            <li class="document__details-list-item">-->
<!--              <div class="list-item__title">Journal Title:</div>-->
<!--              <div class="list-item__details">{{document.journal}}</div>-->
<!--            </li>-->
<!--            <li class="document__details-list-item">-->
<!--              <div class="list-item__title">Identifiers:</div>-->
<!--              <div class="list-item__details">{{document.identifier}}</div>-->
<!--            </li>-->
            <li class="document__details-list-item">
              <div class="list-item__title">Publisher:</div>
              <div class="list-item__details"></div>
            </li>
            <li class="document__details-list-item">
              <div class="list-item__title">LCC Subject Category:</div>
              <div class="list-item__details"></div>
            </li>
            <li class="document__details-list-item">
              <div class="list-item__title">Language of full text:</div>
              <div class="list-item__details"></div>
            </li>
          </ul>
        </div>
      </aside>
    </main>
  </div>
</div>
