<div class="tree-page page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Knowledge graph</h2>
    <div class="tree-page__header-button-wrapper" fxLayoutAlign="space-around center">
      <button aria-label="reset" class="tree-page__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.RESET">reset
      </button>
      <button aria-label="save" class="tree-page__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.SAVE">save
      </button>
      <button aria-label="submit" class="tree-page__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.SUBMIT">submit
      </button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="tree-page__content content">
    <aif-tree-editor-layout [documentId]="'60'"></aif-tree-editor-layout>
  </div>
  <!-- / CONTENT -->
</div>
