<div class="tree-validation-layout page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Dependency tree under your review</h2>
    <div class="tree-validation-layout__header-button-wrapper" *ngIf="!isActiveType('origin')" fxLayoutAlign="space-around center">
      <button aria-label="reset" class="tree-validation-layout__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.RESET">reset
      </button>
      <button aria-label="save" class="tree-validation-layout__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.SAVE">save
      </button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="tree-validation-layout__content content">
    <aif-tree-editor-layout [documentId]="documentId">
      <div class="tree-validation-layout__action-buttons-wrapper" fxLayoutAlign="space-around center">
        <button class="action-button" mat-raised-button [routerLinkActive]="'active'" [routerLink]="['/document', documentId, 'tree-validation', 'origin']">origin</button>
        <button class="action-button" mat-raised-button [routerLinkActive]="'active'" [routerLink]="['/document', documentId, 'tree-validation', 'my']">my</button>
      </div>
    </aif-tree-editor-layout>
  </div>
  <!-- / CONTENT -->
</div>
