<div class="tree-view-layout page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Knowledge graph</h2>
    <div class="tree-view-layout__header-button-wrapper" fxLayoutAlign="space-around center">
      <button aria-label="reset" class="tree-view-layout__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.RESET">reset
      </button>
      <button aria-label="save" class="tree-view-layout__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.SAVE">save
      </button>
      <button aria-label="submit" class="tree-view-layout__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.SUBMIT">submit
      </button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="tree-view-layout__content content">
    <aif-tree-editor-layout [documentId]="documentId">
      <!--tree      | -->
      <!--reviewed  | compare / my-->
      <!--my-review | origin (type:submission)  / my (type:reviewed) / compare-->
    </aif-tree-editor-layout>
  </div>
  <!-- / CONTENT -->
</div>
