.tree-editor-layout {
  &__spinner {
    margin-top: 50px;
  }

  &__tree-buttons-wrapper {
    z-index: 1;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 245px;
    display: flex;
    justify-content: space-between;

    .tree-action-button {
      width: 120px;
      text-transform: uppercase;
      padding: 0;
    }
  }
}
