<div class="tree-editor-layout" fxLayout="column">
  <mat-spinner class="tree-editor-layout__spinner" diameter="50" fxFlexAlign="center" *ngIf="isLoading"></mat-spinner>
  <div class="tree-editor-layout__content" *ngIf="!isLoading">
    <ng-content></ng-content>
    <div class="tree-editor-layout__tree-buttons-wrapper">
      <button class="tree-action-button"
              mat-raised-button
              aifTreeEditorButton
              [treeEditorButtonAction]="buttonActions.EXPAND_ALL">expand all</button>
      <button class="tree-action-button"
              mat-raised-button
              aifTreeEditorButton
              [treeEditorButtonAction]="buttonActions.COLLAPSE_ALL">collapse all</button>
    </div>
    <aif-tree-editor [treeData]="dndTreeData" [edit]="isTreeEditable"></aif-tree-editor>
    <ng-template [ngIf]="documentDetails">
      <aif-document-details [document]="documentDetails" (closed)="closeDocumentDetails()"></aif-document-details>
    </ng-template>
  </div>
</div>
