<div class="document-panel">
  <div class="document-panel__header" fxLayout="row" fxLayoutAlign="space-between center">
    <ng-content select="[aif-panel-header]"></ng-content>
  </div>
  <div class="document-panel__body" (aifOnScrollDown)="onScroll()">
    <ng-content select="[aif-panel-body]"></ng-content>
  </div>
</div>
