:host {
  display: block;
}

.document-panel {
  min-width: 740px;
  height: calc(100vh - 188px);
  overflow: hidden;

  &__header {
    margin-bottom: 30px;
  }

  &__body {
    height: calc(100vh - 254px);
    padding-bottom: 15px;
    overflow: auto;
  }
}
