<div id="register" fxLayout="column">

  <div id="register-form-wrapper" *ngIf="!completed"
       fxLayout="column"
       fxLayoutAlign="center center">

    <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo"><img src="assets/images/logos/aiur-logo.svg"></div>

      <div class="title">CREATE AN ACCOUNT</div>

      <form name="registerForm" [formGroup]="registerForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input autocomplete="off" matInput name="first_name" formControlName="first_name">
          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
          <mat-error>Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input autocomplete="off" matInput name="email" formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="form.email.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="form.email.hasError('invalidEmail')">Please enter a valid email address</mat-error>
          <mat-error *ngIf="userExist">User already exist!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Position in company</mat-label>
          <mat-select formControlName="position_in_company" required>
            <mat-option [value]="position.value" *ngFor="let position of userPositionInCompanyTypesList">{{position.type}}</mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Expertise in</mat-label>
          <mat-select formControlName="expertises" multiple required>
            <mat-option [value]="expertise.value" *ngFor="let expertise of userExpertiseInTypesList">{{expertise.type}}</mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>

        <mat-radio-group formControlName="seniority" required>
          <mat-radio-button fxFlex="50" *ngFor="let seniority of userSeniorityTypesList, index as $index"
                            [checked]="$index === 0"
                            [value]="seniority.value">{{seniority.type}}</mat-radio-button>
        </mat-radio-group>

        <div class="terms">
          <mat-checkbox formControlName="accept_terms" name="terms" aria-label="I read and accept" required>
            <span>I read and accept</span>
          </mat-checkbox>
          <!--<a class="link" href="#">terms and conditions</a>-->
          <span class="link" (click)="mockAlert()">terms and conditions</span>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                [disabled]="registerForm.invalid || submitted"
                (click)="registration()">CREATE AN ACCOUNT
        </button>
      </form>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Already have an account?</span>
        <a class="link" [routerLink]="'/auth/login'">Login</a>
      </div>

    </div>

  </div>

  <aif-registration-completed id="register-completed"
                              *ngIf="completed"
                              [isServerError]="isServerError"
                              fxLayout="column"
                              fxLayoutAlign="center center"></aif-registration-completed>

</div>
