<div class="document-reviewers-list" *ngIf="reviewers.length">
  <div class="title">Reviews:</div>
  <div class="reviews-item" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let review of reviewers">
    <div class="column">
      <div class="row">
        <div class="inner-column">Reviewer</div>
        <div class="inner-column">{{review.owner.first_name}}</div>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <div class="inner-column">Created</div>
        <div class="inner-column">{{review.created_at | date:'dd.MM.yyyy'}}</div>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <div class="inner-column">Status</div>
        <div class="inner-column">{{review.status}}</div>
      </div>
    </div>
    <div class="column">
      <button class="mat-accent mr-16"
              mat-raised-button
              *ngIf="review.status != treesStatus.IN_PROGRESS"
              [routerLink]="['/document', review.document_id, 'tree', review.id, 'reviewed', 'origin']">Review</button>
    </div>
  </div>
</div>
