@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';


.document-reviewers-list {
  .title {
    margin-bottom: 10px;
  }

  .reviews-item {
    padding: 10px 30px;
    margin-bottom: 10px;
    border: 1px solid map_get($mat-grey, 700);
    background: map_get($mat-grey, 800);
    @extend %I-transition-hover;

    &:hover {
      @extend %I-hovered;
    }
  }

  .column {
    width: 25%;

    &:last-child {
      text-align: right;
    }

    button {
      background: map_get($mat-blue-grey, 500);
    }
  }
}

%I-hovered {
  background: #2f2f2f;
  box-shadow: 0 7px 2px -5px rgba(0, 0, 0, 0.2), 0px 3px 5px 1px rgba(0, 0, 0, 0.14), 0px 5px 30px 5px rgba(0, 0, 0, 0.12);
}

%I-transition {
  transition: all 0.35s ease-in-out;
}

%I-transition-hover {
  transition: box-shadow 0.2s ease, background 0.2s ease;
}
