<div class="tree-reviewed-layout page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="tree-reviewed-layout__header header accent p-24" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Suggested dependency tree</h2>
    <div class="tree-reviewed-layout__header-button-wrapper" *ngIf="!isActiveType('origin')" fxLayoutAlign="space-around center">
      <button aria-label="save" class="tree-reviewed-layout__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.SAVE">save</button>
      <button aria-label="submit" class="tree-reviewed-layout__header-button" mat-raised-button
              aifTreeEditorButton [treeEditorButtonAction]="buttonActions.SUBMIT">submit</button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="tree-reviewed-layout__content content">
    <aif-tree-editor-layout [documentId]="documentId">
      <div class="tree-reviewed-layout__action-buttons-wrapper" fxLayoutAlign="space-around center">
        <button class="action-button" mat-raised-button
                [routerLinkActive]="'active'"
                [routerLink]="['/document', documentId, 'tree', treeId, 'reviewed', 'origin']">origin</button>
        <button class="action-button"
                mat-raised-button
                [routerLinkActive]="'active'"
                [routerLink]="['/document', documentId, 'tree', treeId, 'reviewed', 'compare']">compare</button>
      </div>
    </aif-tree-editor-layout>
  </div>
  <!-- / CONTENT -->
</div>
