.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #607d8b;
    stroke-width: 5;
}

.node .nodeText {
    font-size: 17px;
    font-weight: 600;
    line-height: 34px;
    font-family: sans-serif;
}

.node .rootNode {
  color: black;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
}

.node .rootNode .container {
  padding: 10px;
  border: 2px solid #c3d6e4;
  background: #f6f9ff;
  border-radius: 4px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
}

.templink {
    fill: none;
    stroke: #607d8b;
    stroke-width: 1;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
    display: none;
}
