<div class="explore-page page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>Add your research to knowledge graph</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <!-- HORIZONTAL STEPPER EXAMPLE -->
    <mat-horizontal-stepper class="mat-elevation-z4" #stepper [linear]="true" (selectionChange)="stepperChange($event)">

      <mat-step [editable]="true">
        <form fxLayout="column" [formGroup]="chooseSourceForm">
          <ng-template matStepLabel>Choose source</ng-template>

          <div class="explore-page__step-container">
            <mat-button-toggle-group name="source" [value]="documentSource.ADD_LINK" (change)="documentSourceUpdated($event)">
              <mat-button-toggle class="explore-page__toggle-btn" [value]="documentSource.ADD_LINK">Add Link</mat-button-toggle>
              <mat-button-toggle class="explore-page__toggle-btn" [value]="documentSource.UPLOAD_FILE">Upload file</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="explore-page__nav" fxLayout="row" fxLayoutAlign="end">
            <button class="explore-page__nav-btn mr-8" mat-raised-button matStepperNext type="button">
              Next<mat-icon class="nav-btn__icon">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [editable]="true">
        <ng-template matStepLabel>Input</ng-template>

        <div fxLayout="column">
          <div class="explore-page__step-container" fxFlex="1" fxLayout="row" [ngSwitch]="chooseSourceForm.controls.source.value">
            <div fxFlex="1" *ngSwitchCase="documentSource.ADD_LINK">
              <form [formGroup]="linkInputForm">
                <mat-form-field class="explore-page__mat-form-field">
                  <input matInput type="text" formControlName="link" placeholder="paper URL">
                  <button *ngIf="linkInputForm.controls.link?.value" mat-button matSuffix mat-icon-button (click)="cleanDocumentLink()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="linkInputForm.controls.link.value && linkInputForm.controls.link.hasError('invalidUrl')">
                    URL is <strong>invalid</strong>
                  </mat-error>
                </mat-form-field>
              </form>
            </div>
            <div *ngSwitchCase="documentSource.UPLOAD_FILE">
              <form [formGroup]="fileInputForm">
                <div fxLayout="row">

                  <div class="explore-page__upload-file">
                    <input class="explore-page__file-input"
                           id="uploadFile"
                           #fileInput type="file" name="uploadFile"
                           (change)="uploadFileHandler($event.target.files)" />
                    <label for="uploadFile">
                      <span class="label-text">{{fileName}}</span>
                      <button class="btn-upload-file" mat-raised-button color="accent" aria-label="Choose a file">
                        <mat-icon matSuffix class="secondary-text">cloud_upload</mat-icon>
                        Choose a file&hellip;
                      </button>
                    </label>
                  </div>

                  <button *ngIf="fileSource?.size" mat-mini-fab (click)="clearFileInput()">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div fxLayout="column">
                  <mat-checkbox name="copyright" formControlName="copyright">I have full copyright</mat-checkbox>
                </div>
              </form>
            </div>
          </div>

          <div class="explore-page__nav" fxLayout="row" fxLayoutAlign="space-between">
            <button class="explore-page__nav-btn mr-8" mat-raised-button matStepperPrevious type="button">
              <mat-icon class="nav-btn__icon">keyboard_arrow_left</mat-icon>Previous
            </button>
            <button class="explore-page__nav-btn mr-8" mat-raised-button type="button" (click)="inputValidationStep()">
              Next<mat-icon class="nav-btn__icon">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step [editable]="true">
        <ng-template matStepLabel>Verify extraction</ng-template>
          <div class="explore-page__step-container" fxLayout="column">
            <mat-spinner *ngIf="isLoading" diameter="50" fxFlexAlign="center"></mat-spinner>

            <div *ngIf="document" class="explore-page__success" fxLayout="row">
              <div class="icon"></div>
              <div class="info">
                <div class="authors">{{document.year}}</div>
                <div class="title">{{document.title}}</div>
              </div>
            </div>

            <div *ngIf="!isLoading && !document" class="explore-page__error" fxLayout="column" fxFlexAlign="center">
              <div class="icon"><mat-icon>error_outline</mat-icon></div>
              <div class="info">
                <div class="title">Something went wrong</div>
              </div>
            </div>
          </div>

          <div class="explore-page__nav" fxLayout="row" fxLayoutAlign="space-between">
            <button class="explore-page__nav-btn mr-8" mat-raised-button type="button" (click)="inputStep()">
              <mat-icon class="nav-btn__icon">keyboard_arrow_left</mat-icon>Previous
            </button>
            <button *ngIf="document" [routerLink]="['/document', document.document_id, 'tree', 'origin']" mat-raised-button type="button" color="accent">Verify</button>
            <a href="mailto:support@iris.ai" target="_blank"
               *ngIf="!isLoading && !document" mat-raised-button type="button" color="accent">Report the issue</a>
          </div>
      </mat-step>

    </mat-horizontal-stepper>
    <!-- / HORIZONTAL STEPPER EXAMPLE -->

  </div>
  <!-- / CONTENT -->
</div>
