@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';


.explore-page {
  &__step-container {
    margin: 40px 0 60px;
  }

  mat-step-header.mat-step-header {
    pointer-events: none !important;
    .mat-step-icon-selected,
    .mat-step-icon-state-done,
    .mat-step-icon-state-edit {
      background: map_get($mat-blue-grey, 500);
    }
  }

  &__toggle-btn {
    button {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__nav {
    button {
      font-weight: 500;
      text-transform: uppercase;
    }
    &-btn {
      border: 1px solid  map_get($mat-blue-grey, 500);
    }
    .nav-btn__icon {
      margin-top: -4px;
    }
  }

  &__mat-form-field {
    width: 300px;
  }

  &__upload-file {
    margin-bottom: 20px;
  }

  &__file-input {
    padding: 9px 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      mat-icon {
        margin: -4px 6px 0 0;
      }
    }
  }

  .label-text {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 36px;
    padding: 6px 5px 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .btn-upload-file {
    border-radius: 0 4px 4px 0;
    pointer-events: none;
  }

  &__success {
    .icon {
      display: block;
      width: 80px;
      height: 80px;
      margin-right: 20px;
      background: url('/assets/icons/paper-icon.svg') no-repeat top/cover;
    }
    .title {
      font-size: 22px;
    }
  }

  &__error {
    text-align: center;
    .icon {
      margin-bottom: 15px;
    }
    .mat-icon {
      font-size: 50px;
      width: 50px;
      height: 50px;
      color: map_get($mat-blue-grey, 500);
    }
    .title {
      font-size: 22px;
    }
  }
}
