<div class="my-trees-page page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>My trees</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <aif-document-panel>
      <aif-document-search aif-panel-header (searchUpdated)="documentSearchChange($event)"></aif-document-search>
      <aif-document-order aif-panel-header (orderingUpdated)="documentOrderChange($event)"></aif-document-order>
      <aif-document-item aif-panel-body
                         *ngFor="let document of (documentsList$ | async), index as $index, trackBy: trackByFn"
                         [document]="document"
                         [@animate]="{value:'*',params:{duration:'300ms', delay: $index * 50 + 'ms', y:'50%'}}">
        <aif-edit-button aif-item-options [documentId]="document.id"></aif-edit-button>
        <aif-document-reviewers-list class="my-trees-page__reviewers-list" aif-item-options [document]="document"></aif-document-reviewers-list>
      </aif-document-item>
      <aif-document-loading aif-panel-body *ngIf="isLoading$ | async"></aif-document-loading>
      <aif-no-result aif-panel-body *ngIf="!(isLoading$ | async) && isEmpty"></aif-no-result>
    </aif-document-panel>
  </div>
  <!-- / CONTENT -->
</div>
