@import "src/@fuse/scss/fuse";

#error-page {
  width: 100%;
  margin-top: -40px;

  .content {
    width: 90%;
    max-width: 512px !important;
    text-align: center;

    .error {
      &-icon {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto 20px;
        background: url('/assets/icons/event-error.svg') no-repeat top/cover;
      }
      &-title {
        margin-bottom: 20px;
        font-size: 42px;
        line-height: 45px;
        font-weight: 600;
      }
      &__btn-wrapper {
        padding-top: 40px;
      }
      &__btn {
        min-width: 110px;
        margin: 0 10px;
        text-transform: uppercase;
      }
    }

    .message {
      font-size: 20px;
    }

    .sub-message {
      font-size: 17px;
      margin: 16px auto 0;
    }

    .report-link {
      font-size: 15px;
    }
  }
}
