@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';


:host {
  display: block;
  width: 140px;
}

.document-order {
  position: relative;
  height: 60px;
  line-height: 60px;
  background: #303030;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-bottom: -1px;
  z-index: 1;

  &:hover {
    .document-order__option {
      display: inline-block;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
    .arrow-icon {
      &:before {
        transform: translate(-2px , 0) rotate(45deg);
      }

      &:after {
        transform: translate(2px , 0) rotate(-45deg);
      }
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  .arrow-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    transform: translate(0, -2px);

    &:before , &:after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 2px;
      height: 8px;
      transition: transform 0.35s ease-in-out;
    }
    &:before {
      transform: translate(2px , 0) rotate(45deg);
    }
    &:after {
      transform: translate(-2px , 0) rotate(-45deg)
    }
  }

  &__active-option {
    display: block;
    padding-right: 20px;
    user-select: none;
  }

  &__option {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
    text-align: right;
    background-color: #303030;
    border-radius: 0 0 4px 4px;
    transition: background-color 0.25s ease;
    z-index: 1;

    &-item {
      font-size: 14px;
      font-weight: 600;
      height: 30px;
      line-height: 30px;
      padding-right: 5px;
      cursor: pointer;
      transition: color 0.25s ease;

      &:hover {
        color: map_get($mat-blue-grey, 500);
      }

      &.active {
        color: map_get($mat-blue-grey, 500);
      }
    }
  }
}
