<div class="document-order">
  <div class="document-order__title">
    <span class="document-order__active-option">Sort by
      <span class="sort-by" [innerHTML]="selected.title | safe:'html'"></span>
    </span>
    <span class="arrow-icon"></span>
  </div>
  <ul class="document-order__option">
    <li class="document-order__option-item"
        *ngFor="let option of orderingOptions"
        [class.active]="option.type === selected.type"
        (click)="orderBy(option)"
        [innerHTML]="option.title | safe:'html'"></li>
  </ul>
</div>
