<div id="login-page" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo"><img src="assets/images/logos/aiur-logo.svg"></div>

      <div class="title">WELCOME BACK</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>
        <mat-form-field [class.mat-form-field-invalid]="loginForm.hasError('authLogin')" appearance="outline">
          <mat-label>Email</mat-label>
          <input autocomplete="off" matInput formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="form.email.hasError('required')">Email is required</mat-error>
          <mat-error
            *ngIf="!form.email.hasError('required') && form.email.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field [class.mat-form-field-invalid]="loginForm.hasError('authLogin')" appearance="outline">
          <mat-label>Password</mat-label>
          <input autocomplete="off" matInput type="password" formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>Password is required</mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">Remember Me</mat-checkbox>
          <a class="forgot-password" [routerLink]="'/auth/forgot-password'">Forgot Password?</a>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                (click)="login()"
                [disabled]="loginForm.invalid">LOGIN
        </button>
      </form>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Don't have account yet?</span>
        <a class="link" [routerLink]="'/auth/register'">Create an account</a>
      </div>

    </div>

  </div>

</div>
