@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';

aif-login-page {
  #login-page {
    position: relative;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(147deg, #000000 0%, map_get($fuse-navy, 700) 74%);
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat top/cover;
      opacity: 0.1;
      z-index: 0;
    }

    #login-form-wrapper {
      flex: 1 0 auto;
      padding: 32px;
      z-index: 1;

      @include media-breakpoint('xs') {
        padding: 16px;
      }

      #login-form {
        width: 384px;
        max-width: 384px;
        padding: 32px;
        text-align: center;
        @include mat-elevation(16);

        @include media-breakpoint('xs') {
          padding: 24px;
          width: 100%;
        }

        .logo {
          width: 128px;
          margin: 32px auto;
        }

        .title {
          font-size: 20px;
          margin: 16px 0 32px 0;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          mat-checkbox {
            margin: 0;
          }

          .remember-forgot-password {
            font-size: 13px;
            margin-top: 8px;

            .remember-me {
              margin-bottom: 16px
            }

            .forgot-password {
              font-size: 13px;
              font-weight: 600;
              margin-bottom: 16px
            }
          }

          .submit-button {
            width: 220px;
            margin: 16px auto;
            display: block;

            @include media-breakpoint('xs') {
              width: 90%;
            }
          }
        }

        .register {
          margin: 32px auto 24px auto;
          font-weight: 600;

          .text {
            margin-right: 8px;
          }
        }

        button {
          @include media-breakpoint('xs') {
            width: 80%;
          }
        }
      }
    }
  }
}
