<div id="error-page" fxLayout="column" fxLayoutAlign="center center">

  <div class="content" fxLayout="column" fxLayoutAlign="center center">

    <div class="error-icon"></div>
    <div class="error-title">Oops an error occurred!</div>
    <div class="message">404! This is not the web page you are looking for!</div>
    <div class="sub-message">The requested URL was not found on our server.</div>
    <div class="error__btn-wrapper">
      <button mat-raised-button color="accent" class="error__btn" aria-label="GO BACK" (click)="errorsPageService.previousPage()">Go Back</button>
    </div>

  </div>

</div>
