<div class="no-result-wrapper" [@animateStagger]="{value:'50'}">
  <div class="no-result__icon" [@animate]="{value:'*',params:{duration:'450ms', opacity:'1', y:'5px'}}">
    <svg version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 209 181.5"
         style="enable-background:new 0 0 209 181.5;" xml:space="preserve">
      <style type="text/css">
      .st0{fill:#333333;}
      .st1{fill:#717171;}
      .st2{fill:none;}
      .st3{fill:#607D8B;}
    </style>
      <g>
        <g>
            <path class="st0" d="M200.3,102c-5.6-4.8-11.5-3.3-17.5-1.2c-1.4,0.5-3,1.2-4.3,0.2c-1.7-1.3,0-2.7,0.4-4
              c2.6-8.1,0.7-14.6-7.1-19.2c-5.3-3.1-2.2-4.1,0.6-5.3c5.5-2.4,11.4-3.9,16.6-6.7c7.4-4,10-12.5,6.5-19.2
              c-3.2-6.1-10.8-11.6-19.2-8.1c-5.1,2.1-10.4,3.9-15.6,5.7c-3.9,1.4-5.5,0.8-4.4-4.1c1.8-8.3-1.8-14.7-8.6-16.8
              c-2.4-1.2-4.8-2.6-7.6-2.6s-5.3,1-7.8,2.1c-0.3,0.1-0.6,0.3-0.9,0.5c-1.1,0.6-2.2,1.2-3.3,1.7c-1.9,0.9-3.9,2.6-6,1.4
              c-2.8-1.6-0.3-3.8-0.1-5.7c1.5-12.8-8.3-21.1-20.6-17.2C97,5,92.6,6.8,88.2,8.4c-23.3,8.5-46.6,16.9-69.9,25.4
              C10.4,36.7,5.7,43,6.1,49.5c0.4,7,5.9,13,14.1,14.6c3.8,0.7,4.1,1.9,2.9,5C20,76.6,22.7,82.6,28.8,87c4,2.9,3.5,4.5-0.9,5.7
              c-6.2,1.7-10.6,5.3-12.8,11.4l0.1,0.1c-1,2.6-0.7,5.3-0.2,8c0.5,2.4,1.3,4.5,3.3,5.9c1.1,1.7,3,2.6,4.8,3.6
              c1.3,0.7,3.1,1.1,2.9,3c-0.2,1.8-2.1,2-3.4,2.5c-3,1.1-6.1,1.9-9.1,3C6.2,133,1,141.3,2.4,147.7c1.7,7.9,7.5,12.2,16.6,11.7
              c7.6-0.4,14.2-4.3,21.2-6.7c1.6-0.6,3.3-1.7,4.8-0.3s-0.2,2.7-0.7,4c-2.2,6.2-1.1,12.1,3.4,16.7c4.3,4.4,9.8,5.7,16,3.4
              c7.6-2.9,15.2-5.8,22.9-8.2c12.4-3.9,24.4-9.8,37.2-12.8c1.4-0.5,2.2-0.7,3.4-1.2c2.5-1.2,4.9-2.6,7.4-3.6
              c6.6-2.6,13.2-5.1,19.8-7.6c1.1-0.2,2.3-0.5,3.4-0.8c0.8-0.3,1.5-0.6,2.3-0.9c0.4-0.1,0.7-0.3,1.1-0.5l0,0
              c0.8-0.1,1.5-0.4,2.1-0.8c10.8-3.8,21.7-7.5,32.5-11.4C208.5,123.9,210.7,110.9,200.3,102z"/>
            <g>
              <path class="st1" d="M84.5,97.5C65.7,97.4,51,82.6,51.1,63.7c0.2-18.6,15.4-33.6,34-33.5c18.3,0.3,33.2,15.4,33.2,33.7
                C118.3,82.6,103.2,97.5,84.5,97.5z M84.5,32.3C67,32.1,52.8,46.1,52.6,63.6c-0.2,17.4,13.8,32,30.7,32.1
                c18.2,0.2,32.7-13.3,33-31C116.7,46.5,103,32.6,84.5,32.3z"/>
              <path class="st1" d="M144.6,117.5c-1.3-1.5-2.7-2.9-4.1-4.3c-6.5-5.8-11.5-13.2-19.5-17.5c-3-1.7-5.8-4.5-7.6-7.6
                c-1.1-1.8,2.6-3.5,2.9-5.9c0-0.2-0.3-0.4-0.5-0.7C101.7,99,84.5,103.9,68.2,95c-9.2-5-15-12.8-17.6-22.9
                c-2.6-10.3,0-19.7,5.5-29.3c-2.8,1.1-3.2,2.9-3.9,4.4c-7.5,14.5-4.2,32.6,7.8,43.6c12.2,11.2,30.6,12.9,44.6,4.1
                c1.1-0.7,2.1-1.7,3.2-2.3c1.2-0.3,2.6,0.5,3.2,1.4l0,0c1.8,2.8,5,4.3,6.6,7c5.1,9.3,14,15.3,21.1,22.7c1.8,1.9,4.4,1.5,6.2-0.6
                C146.4,121.5,146.2,119.4,144.6,117.5z M109.9,91.9c0.3-1.4,1.3-2.4,2.5-1.3c2.9,2.5,6,4.9,8.3,9.3
                C115.4,98.5,113.9,93.5,109.9,91.9z M142.7,122.7c-1.9,1.8-3.6-0.1-5-1.4c-5.4-5.4-10.7-10.7-16.1-16.1c-0.8-0.8-2.3-1.6-1.1-3
                c0.8-0.9,1.9-1.5,3.1-2.4c0.9,0.8,1.8,1.4,2.5,2.2c5.1,5.1,10.2,10.2,15.4,15.4C143.2,118.7,144.8,120.7,142.7,122.7z"/>
              <path class="st1" d="M60.4,37.4c11.3-12.3,31.6-13.6,45.9-3.2c14.2,10.3,19.3,29.8,11.3,44.2c5.5-18.6,1.9-34.6-15.3-44.8
                C88,25,73.8,27.6,60.4,37.4z"/>
            </g>
            <g>
              <g>
                <path class="st2" d="M145.7,58.8v0.3c0,0.2,0.2,0.3,0.4,0.3h0.5c0.2,0,0.3-0.2,0.3-0.4v-0.4L145.7,58.8z"/>
                <path class="st2" d="M146,56.4c-0.1,0-0.3,0.2-0.2,0.3c0,0.1,0.1,0.2,0.3,0.2c0.1,0,0.2-0.1,0.2-0.3
                  C146.3,56.5,146.2,56.4,146,56.4z"/>
                <path class="st2" d="M145.9,54.9c-0.9,0.1-1.5,0.9-1.4,1.8c0.1,0.6,0.4,1.1,1,1.4l0.2,0.1v0.3h0.4l-0.1-1
                  c-0.3-0.1-0.5-0.3-0.6-0.6c0-0.4,0.3-0.7,0.6-0.8c0.4,0,0.7,0.3,0.8,0.6c0,0.3-0.2,0.6-0.4,0.7l0.1,0.9h0.4V58l0.1-0.1
                  c0.5-0.3,0.8-0.9,0.7-1.5C147.6,55.4,146.7,54.8,145.9,54.9z"/>

                <rect x="145.4" y="52.6" transform="matrix(0.9944 -0.1059 0.1059 0.9944 -4.8264 15.7244)" class="st1" width="0.5" height="1.4"/>

                <rect x="143.8" y="53.2" transform="matrix(0.8082 -0.5889 0.5889 0.8082 -4.1274 95.1867)" class="st1" width="0.5" height="1.4"/>

                <rect x="142.8" y="54.5" transform="matrix(0.4055 -0.9141 0.9141 0.4055 34.5961 163.5612)" class="st1" width="0.5" height="1.4"/>

                <rect x="148.8" y="57.2" transform="matrix(0.4055 -0.9141 0.9141 0.4055 35.6863 170.6916)" class="st1" width="0.5" height="1.4"/>

                <rect x="142.1" y="56.6" transform="matrix(0.9944 -0.1059 0.1059 0.9944 -5.217 15.4417)" class="st1" width="1.4" height="0.5"/>

                <rect x="148.6" y="56" transform="matrix(0.9944 -0.1059 0.1059 0.9944 -5.1182 16.1274)" class="st1" width="1.4" height="0.5"/>

                <rect x="142.7" y="58.2" transform="matrix(0.8082 -0.5889 0.5889 0.8082 -6.9214 95.6414)" class="st1" width="1.4" height="0.5"/>

                <rect x="148" y="54.4" transform="matrix(0.8082 -0.5889 0.5889 0.8082 -3.667 98.0679)" class="st1" width="1.4" height="0.5"/>

                <rect x="146.7" y="53.3" transform="matrix(0.4052 -0.9142 0.9142 0.4052 38.7426 166.6197)" class="st1" width="1.4" height="0.5"/>
                <path class="st1" d="M145.8,54.3c-1.2,0.1-2.1,1.2-2,2.4c0.1,0.8,0.5,1.4,1.2,1.8l0.1,0.7c0.1,0.5,0.5,0.9,1.1,0.8l0.4-0.1
                  c0.5-0.1,0.9-0.5,0.8-1.1l-0.1-0.7c0.6-0.5,0.9-1.2,0.8-2C148.1,55.1,147,54.2,145.8,54.3z M146.6,59.4h-0.5
                  c-0.2,0-0.4-0.1-0.4-0.3v-0.3l1.2-0.1v0.4C146.9,59.3,146.8,59.4,146.6,59.4z M146.1,57c-0.2,0-0.3-0.1-0.3-0.2
                  c0-0.1,0.1-0.3,0.2-0.3c0.2,0,0.3,0.1,0.3,0.2C146.3,56.8,146.2,57,146.1,57z M146.9,57.8l-0.1,0.1v0.3h-0.4l-0.1-0.9
                  c0.3-0.1,0.5-0.4,0.4-0.7c0-0.4-0.4-0.7-0.8-0.6c-0.4,0-0.7,0.4-0.6,0.8c0,0.3,0.3,0.5,0.6,0.6l0.1,1h-0.4v-0.3l-0.2-0.1
                  c-0.6-0.2-1-0.7-1-1.4c-0.1-0.9,0.5-1.7,1.4-1.8s1.7,0.5,1.8,1.4C147.7,56.9,147.5,57.5,146.9,57.8z"/>
                <polygon class="st1" points="136.3,48.5 136.4,49.2 143.3,48.4 143.2,47.7 					"/>
                <polygon class="st1" points="143.6,50.5 143.5,49.8 136.6,50.7 136.7,51.3 					"/>
                <polygon class="st1" points="143.8,52 136.8,52.9 136.9,53.5 143.9,52.7 					"/>
                <polygon class="st1" points="137.3,55.7 141.4,55.2 141.3,54.5 137.2,55 					"/>
                <path class="st1" d="M135.8,57.6l-1.5-10.5l0.4-0.4l9.5-1.2l0.5,0.3l0.8,5.8l0,0c0.2,0,0.4,0,0.6,0l-0.8-6.3l-0.8-0.5
                  l-10.4,1.3l-0.6,0.7l1.5,11.3l0.7,0.5l6.1-0.7c0-0.2,0-0.4,0-0.6l-5.6,0.7L135.8,57.6z"/>
              </g>
              <g>
                <path class="st1" d="M90.1,123.6l-1.6-2.8l-0.1-1c0.1,0,0.1-0.1,0.1-0.2s-0.1-0.2-0.2-0.2l-1.5,0.1c-0.1,0-0.2,0.1-0.2,0.2
                  s0.1,0.2,0.2,0.2l0.1,1l-1.1,3l0,0c0,0.2,0,0.3,0.1,0.4l0,0c0.1,0.1,0.3,0.2,0.4,0.2l3.2-0.2c0.2,0,0.3-0.1,0.4-0.2l0,0
                  C90.1,124,90.1,123.8,90.1,123.6z M87.4,122.7c-0.2,0-0.6,0-0.8-0.1l0.6-1.7l0,0l-0.1-1.1l1-0.1l0.1,1.1l0,0l0.7,1.3
                  C88.3,122.4,87.9,122.7,87.4,122.7z"/>
                <polygon class="st1" points="79.1,115.4 79.2,116 85.6,115.2 85.5,114.6 					"/>
                <polygon class="st1" points="85.9,117.2 85.8,116.6 79.4,117.3 79.5,118 					"/>
                <polygon class="st1" points="86.1,118.6 79.7,119.4 79.7,120 86.1,119.2 					"/>
                <polygon class="st1" points="80.1,121.9 83.9,121.5 83.8,120.9 80,121.3 					"/>
                <path class="st1" d="M85.2,123.3l-6.1,0.8l-0.4-0.3l-1.3-9.7l0.3-0.4l8.8-1.1l0.4,0.3l0.8,6c0.1,0,0.2,0,0.3,0
                  c0.1,0,0.1,0,0.2,0h0.1l-0.8-6.4l-0.8-0.5l-9.5,1.2l-0.6,0.6l1.4,10.4l0.7,0.5l6.6-0.8C85.3,123.6,85.3,123.5,85.2,123.3
                  L85.2,123.3z"/>
              </g>
              <g>
                <path class="st1" d="M118,134.6l-0.6-1.7c-0.1-0.4-0.2-0.9-0.1-1.4l-1.2,0.9l-1.6,0.6c-1.4,0.5-2.1,2.1-1.5,3.5
                  c0.2,0.4,0.5,0.8,0.9,1.1c0.2-0.9,0.6-1.6,1.3-2.2c0.1-0.1,0.3-0.1,0.4,0s0.1,0.3,0,0.4c-1.3,1.1-1.6,3-0.5,4.3l0,0
                  c0.1,0.1,0.2,0.1,0.4,0c0.1-0.1,0.1-0.2,0-0.4c-0.4-0.5-0.6-1.1-0.5-1.7c1.5,0.4,2.9-0.5,3.3-1.9
                  C118.3,135.6,118.2,135.1,118,134.6z"/>
                <polygon class="st1" points="105.6,127.9 105.8,128.6 113.9,127.7 113.7,126.9 					"/>
                <polygon class="st1" points="114.2,130.1 114.1,129.4 106,130.3 106.1,131.1 					"/>
                <polygon class="st1" points="114.4,131.9 106.3,132.9 106.4,133.7 114.5,132.7 					"/>
                <polygon class="st1" points="106.8,136.2 111.6,135.6 111.5,134.8 106.7,135.4 					"/>
                <path class="st1" d="M113.2,137.9l-7.6,0.9l-0.5-0.4l-1.7-12.3l0.4-0.5l11.1-1.4l0.5,0.4l0.9,6.5c0.2,0,0.5,0,0.8,0l-0.9-7.1
                  l-1-0.6l-12.1,1.5l-0.7,0.8l1.8,13.2l0.8,0.6l8.3-1C113.3,138.3,113.3,138.1,113.2,137.9L113.2,137.9z"/>
              </g>
              <g>
                <path class="st1" d="M105.4,112.9L105.4,112.9c-0.4,0-0.7,0.1-1,0.1c-0.1,0-0.2,0-0.3,0c0.1-0.2,0.2-0.5,0.3-0.7
                  c0.1-0.2,0.1-0.5,0.2-0.7s0.1-0.4,0.1-0.6c0,0,0,0-0.1,0c-0.1,0.2-0.2,0.3-0.4,0.5c-0.2,0.2-0.3,0.4-0.4,0.6
                  c-0.3,0.4-0.5,0.8-0.7,1.3c0,0.1-0.1,0.1,0,0.2c0,0.2,0.2,0.4,0.4,0.4l0,0c0.3,0,0.7-0.1,1-0.1c0.1,0,0.2,0,0.3,0
                  c-0.1,0.2-0.2,0.5-0.3,0.7c-0.2,0.5-0.3,1-0.4,1.5c0.3-0.4,0.6-0.8,0.9-1.2c0.3-0.4,0.5-0.8,0.7-1.3c0-0.1,0.1-0.1,0-0.2
                  C105.8,113.1,105.7,112.9,105.4,112.9z"/>
                <polygon class="st1" points="98.6,108.6 98.6,109 103.2,108.5 103.2,108 					"/>
                <polygon class="st1" points="103.4,109.9 103.4,109.4 98.7,110 98.8,110.4 					"/>
                <polygon class="st1" points="103.6,110.9 98.9,111.5 99,111.9 103.6,111.4 					"/>
                <polygon class="st1" points="99.2,113.3 102,113 101.9,112.5 99.2,112.9 					"/>
                <path class="st1" d="M103.3,114.3l-4.8,0.6l-0.3-0.2l-1-7l0.2-0.3l6.4-0.8l0.3,0.2l0.6,4.1c0.1,0,0.3,0,0.4,0l-0.6-4.5
                  l-0.5-0.3l-6.9,0.8l-0.4,0.5l1,7.5l0.5,0.3l5.2-0.6C103.4,114.5,103.4,114.4,103.3,114.3C103.4,114.3,103.4,114.3,103.3,114.3z
                  "/>
              </g>
              <g>
                <path class="st1" d="M28.7,44.4c-0.3,0-0.5,0.2-0.7,0.5c-0.2-0.2-0.5-0.4-0.8-0.3c-0.5,0-0.8,0.5-0.8,0.9c0.1,0.9,1.8,2,1.8,2
                  s1.5-1.4,1.4-2.3C29.6,44.6,29.2,44.3,28.7,44.4z"/>
                <polygon class="st1" points="21.2,39.8 21.3,40.3 26.5,39.7 26.4,39.2 					"/>
                <polygon class="st1" points="26.7,41.3 26.6,40.8 21.4,41.4 21.5,41.9 					"/>
                <polygon class="st1" points="26.8,42.5 21.6,43.1 21.7,43.6 26.9,43 					"/>
                <polygon class="st1" points="21.9,45.2 25.1,44.8 25,44.3 21.9,44.7 					"/>
                <path class="st1" d="M26.3,46.3l-5.2,0.6l-0.3-0.3l-1.1-7.9l0.3-0.3l7.2-0.9l0.3,0.3l0.8,6.1c0.1,0,0.2,0,0.4,0h0.1L28,37.4
                  L27.4,37l-7.8,1l-0.5,0.5l1.2,8.5l0.5,0.4l5.8-0.7c0-0.1-0.1-0.3-0.1-0.4C26.5,46.3,26.4,46.3,26.3,46.3z"/>
              </g>
              <g>
                <g>
                  <polygon class="st1" points="40.8,89.7 43.4,89.4 43.4,89.6 40.9,90 						"/>
                  <polygon class="st1" points="40.9,90.5 43.5,90.2 43.5,90.4 41,90.7 						"/>
                  <polygon class="st1" points="41,91.3 43.6,91 43.6,91.2 41.1,91.6 						"/>
                  <polygon class="st1" points="41.2,92.1 42.7,91.9 42.7,92.2 41.2,92.3 						"/>
                  <path class="st1" d="M44.2,88.5l-0.3-0.2L40,88.8L39.8,89l0.6,4.2l0.3,0.2l3.9-0.5l0.2-0.3L44.2,88.5z M44.3,92.8l-3.5,0.4
                    l-0.2-0.1l-0.5-3.9l0.1-0.2l3.5-0.4l0.2,0.1l0.5,3.9L44.3,92.8z"/>
                </g>
              </g>
              <g>
                <g>
                  <polygon class="st1" points="136.8,94.7 139.4,94.4 139.4,94.6 136.9,95 						"/>
                  <polygon class="st1" points="136.9,95.5 139.5,95.2 139.5,95.4 137,95.7 						"/>
                  <polygon class="st1" points="137,96.3 139.6,96 139.6,96.2 137.1,96.6 						"/>
                  <polygon class="st1" points="137.2,97.1 138.7,96.9 138.7,97.2 137.2,97.3 						"/>
                  <path class="st1" d="M140.2,93.5l-0.3-0.2l-3.8,0.5l-0.2,0.3l0.6,4.2l0.3,0.2l3.9-0.5l0.2-0.3L140.2,93.5z M140.3,97.8
                    l-3.5,0.4l-0.2-0.1l-0.5-3.9l0.1-0.2l3.5-0.4l0.2,0.1l0.5,3.9L140.3,97.8z"/>
                </g>
              </g>
              <g>
                <g>
                  <polygon class="st1" points="90.8,131.7 93.4,131.4 93.4,131.6 90.9,132 						"/>
                  <polygon class="st1" points="90.9,132.5 93.5,132.2 93.5,132.4 91,132.7 						"/>
                  <polygon class="st1" points="91,133.3 93.6,133 93.6,133.2 91.1,133.6 						"/>
                  <polygon class="st1" points="91.2,134.1 92.7,133.9 92.7,134.2 91.2,134.3 						"/>
                  <path class="st1" d="M94.2,130.5l-0.3-0.2l-3.8,0.5l-0.2,0.3l0.6,4.2l0.3,0.2l3.9-0.5l0.2-0.3L94.2,130.5z M94.3,134.8
                    l-3.5,0.4l-0.2-0.1l-0.5-3.9l0.1-0.2l3.5-0.4l0.2,0.1l0.5,3.9L94.3,134.8z"/>
                </g>
              </g>
              <g>
                <g>
                  <polygon class="st1" points="126,35.9 128.9,35.6 129,35.8 126,36.2 						"/>
                  <polygon class="st1" points="126.1,36.8 129,36.5 129.1,36.7 126.1,37.1 						"/>
                  <polygon class="st1" points="126.2,37.7 129.2,37.4 129.2,37.7 126.3,38 						"/>
                  <polygon class="st1" points="126.4,38.6 128.1,38.4 128.2,38.7 126.4,38.9 						"/>
                  <path class="st1" d="M129.8,34.5l-0.3-0.2l-4.4,0.5l-0.3,0.3l0.7,4.8l0.3,0.2l4.4-0.5l0.2-0.3L129.8,34.5z M130,39.4l-4,0.5
                    l-0.2-0.1l-0.6-4.5l0.2-0.2l4-0.5l0.2,0.1l0.6,4.5L130,39.4z"/>
                </g>
              </g>
              <g>
                <g>
                  <polygon class="st1" points="33.8,45.7 36.4,45.4 36.4,45.6 33.9,46 						"/>
                  <polygon class="st1" points="33.9,46.5 36.5,46.2 36.5,46.4 34,46.7 						"/>
                  <polygon class="st1" points="34,47.3 36.6,47 36.6,47.2 34.1,47.6 						"/>
                  <polygon class="st1" points="34.2,48.1 35.7,47.9 35.7,48.2 34.2,48.3 						"/>
                  <path class="st1" d="M37.2,44.5l-0.3-0.2L33,44.8L32.8,45l0.6,4.2l0.3,0.2l3.9-0.5l0.2-0.3L37.2,44.5z M37.3,48.8l-3.5,0.4
                    l-0.2-0.1l-0.5-3.9l0.1-0.2l3.5-0.4l0.2,0.1l0.5,3.9L37.3,48.8z"/>
                </g>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 -24.6737 78.7328)" class="st3" cx="32.1" cy="53.3" rx="1.3" ry="1.3"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 38.2237 244.7086)" class="st3" cx="157.2" cy="100.8" rx="1.5" ry="1.5"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 -63.3012 139.815)" class="st3" cx="47.2" cy="105.6" rx="0.9" ry="0.9"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 42.1589 195.1488)" class="st3" cx="131.2" cy="73.8" rx="1.5" ry="1.5"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 43.5437 206.4064)" class="st3" cx="138.2" cy="78.6" rx="0.9" ry="0.9"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 50.4781 201.5095)" class="st3" cx="139" cy="72.3" rx="0.5" ry="0.5"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 -39.0951 201.0324)" class="st3" cx="93.9" cy="122.6" rx="1.3" ry="1.3"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 -55.9072 200.8754)" class="st3" cx="85.4" cy="132" rx="0.8" ry="0.8"/>
              </g>
              <g>
                  <ellipse transform="matrix(0.1204 -0.9927 0.9927 0.1204 -36.8375 71.9871)" class="st3" cx="22.2" cy="56.8" rx="1.5" ry="1.5"/>
              </g>
            </g>
          </g>
      </g>
    </svg>
  </div>
  <div class="no-result__txt" [@animate]="{value:'*',params:{duration:'450ms', opacity:'1', y:'5px'}}">No results found!</div>
</div>
