@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';


.no-result {
  &-wrapper {
    display: block;
    width: 100%;
    padding: 30px 15px;
    text-align: center;
  }
  &__txt {
    font-size: 18px;
    font-weight: 600;
    color: map_get($mat-grey, 600);
  }
  &__icon {
    display: block;
    width: 300px;
    margin: 0 auto 20px;
  }
}
