@import 'src/@fuse/scss/fuse';
@import 'src/scss/colors';


:host {
  display: block;
  width: 250px;
}

.document-search {
  position: relative;
  height: 60px;
  line-height: 60px;
  cursor: pointer;

  &__form {
    width: 100%;
  }

  &__label {
    display: block;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 800;
  }

  &__input {
    position: absolute;
    right: 0;
    bottom: 0;
    background: none;
    border: none;
    width: 100%;
    padding: 4px 0;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin-bottom: -1px;
    transition: border 0.25s ease, color 0.25s ease;
    &:focus {
      border-bottom-color: map_get($mat-blue-grey, 300);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
