<div class="document-search" fxFlex fxLayout="row" fxLayoutAlign="start center">
  <form class="document-search__form" [formGroup]="searchForm">
    <label for="expansionPanelSearch" class="document-search__label">Search</label>
    <input id="expansionPanelSearch"
           class="document-search__input"
           type="text"
           autocomplete="off"
           name="query"
           formControlName="query"/>
    <mat-icon class="document-search__icon">search</mat-icon>
  </form>
</div>
