<div id="error-page" fxLayout="column" fxLayoutAlign="center center">

  <div class="content" fxLayout="column" fxLayoutAlign="center center">

    <div class="error-icon"></div>
    <div class="error-title">Oops an error occurred!</div>
    <div class="message">Please try again in a few seconds! Clearing your browser cache might help! So sorry for the inconvenience!</div>
    <div class="sub-message">
      If you are here for the second time please contact
      <a class="report-link" href="mailto:support@iris.ai">support@iris.ai</a>.
    </div>
    <div class="error__btn-wrapper">
      <button mat-raised-button color="accent" class="error__btn" aria-label="GO BACK" (click)="errorsPageService.previousPage()">Go Back</button>
    </div>

  </div>

</div>
