<div class="user-profile-page page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>Profile settings</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <form class="user-profile__form" name="userInfoForm" [formGroup]="userInfoForm" fxLayout="column" novalidate>

      <div class="user-profile__field-wrapper" fxLayout="row">
        <mat-form-field class="user-profile__field" appearance="outline">
          <mat-label>Name</mat-label>
          <input autocomplete="off" matInput name="first_name" formControlName="first_name">
          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
          <mat-error>Name is required</mat-error>
        </mat-form-field>

        <mat-form-field class="user-profile__field" appearance="outline">
          <mat-label>Email</mat-label>
          <input autocomplete="off" matInput name="email" formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="form.email.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="form.email.hasError('invalidEmail')">Please enter a valid email address</mat-error>
          <!--        <mat-error *ngIf="userExist">User already exist!</mat-error>-->
        </mat-form-field>
      </div>

      <div class="user-profile__field-wrapper" fxLayout="row">
        <mat-form-field class="user-profile__field" appearance="outline">
          <mat-label>Position in company</mat-label>
          <mat-select formControlName="position_in_company" required>
            <mat-option [value]="position.value" *ngFor="let position of userPositionInCompanyTypesList">{{position.type}}</mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field class="user-profile__field" appearance="outline">
          <mat-label>Expertise in</mat-label>
          <mat-select formControlName="expertises" multiple required>
            <mat-option [value]="expertise.value" *ngFor="let expertise of userExpertiseInTypesList">{{expertise.type}}</mat-option>
          </mat-select>
          <mat-error>This field is required!</mat-error>
        </mat-form-field>
      </div>

      <div class="user-profile__field-wrapper" fxLayout="row">
        <mat-form-field class="user-profile__field" appearance="outline">
          <mat-label>Password</mat-label>
          <input #oldPasswordInput autocomplete="off" matInput type="password" name="old_password"
                 formControlName="old_password"
                 (focus)="changePassword()">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        </mat-form-field>

        <mat-form-field class="user-profile__field" appearance="outline" *ngIf="changingPassword">
          <mat-label>New password</mat-label>
          <input matInput type="password" name="password" autocomplete="off"
                 formControlName="password">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="form.password.hasError('required')">Password is required</mat-error>
        </mat-form-field>

        <mat-form-field class="user-profile__field" appearance="outline" *ngIf="changingPassword">
          <mat-label>New password (Confirm)</mat-label>
          <input autocomplete="off" matInput type="password"
                 name="password_confirm"
                 formControlName="password_confirm">
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="form.password_confirm.hasError('required')">
            Password confirmation is required
          </mat-error>
        </mat-form-field>
      </div>


      <div class="user-profile__field-wrapper" fxLayout="row">
        <mat-radio-group class="user-profile__radio" formControlName="seniority" required>
          <mat-radio-button fxFlex="50" *ngFor="let seniority of userSeniorityTypesList"
                            [value]="seniority.value">{{seniority.type}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>

    <div class="user-profile__edit-btn-wrapper" [hidden]="editing || updated">
      <button mat-raised-button color="accent" class="edit-btn" aria-label="Edit information"
              (click)="edit()">Edit</button>
    </div>
    <div class="user-profile__confirm-btn-wrapper" [hidden]="!editing && !errorUpdate">
      <button mat-raised-button color="accent" class="cancel-btn" (click)="cancelEditing()">cancel</button>
      <button mat-raised-button color="accent" class="save-btn"
              (click)="save()"
              [disabled]="changingPassword ?
                (userInfoForm.invalid || form['password'].value !== form['password_confirm'].value)
                : userInfoForm.invalid">save changes
      </button>
    </div>
    <div class="user-profile__success-info-text" *ngIf="updated">Saved successfully!</div>
    <div class="user-profile__error-info-text" *ngIf="errorUpdate">
      There was a problem with updating your account information! Please try again later!
    </div>
  </div>
  <!-- / CONTENT -->
</div>
