@import "src/@fuse/scss/fuse";
@import 'src/scss/colors';


.user-profile {
  &__field {
    width: 320px;
    padding-right: 25px;
    box-sizing: border-box;
  }
  &__radio {
    width: 320px;
  }

  &__error-info-text,
  &__success-info-text {
    padding: 30px 0;
    font-size: 16px;
  }
}

.edit-btn,
.cancel-btn,
.save-btn {
  width: 150px;
  margin: 60px 10px 0 0;
  font-weight: 500;
  text-transform: uppercase;
  &:last-child {
    margin-right: 0;
  }
}

@include media-breakpoint('xs') {
  .user-profile {
    &__field {
      width: 100%;
      padding-right: 0;
      &-wrapper {
        display: block!important;
      }
    }
    &__radio {
      width: 100%;
    }
  }
}
